{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-6">
                <form action="{% url 'outflow_list' %}" method="get">
                    <div class="input-group">
                        <input type="text" name="product" placeholder="Produto" value="{{ request.GET.product }}" class="form-control">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <a href="{% url 'outflow_create' %}" class="btn btn-success float-end">
                    <i class="bi bi-plus-circle"></i> Nova Saída
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Data de Saída</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for outflow in outflows %}
                        <tr>
                            <td>{{outflow.id}}</td>
                            <td>{{outflow.product}}</td>
                            <td>{{outflow.quantity}}</td>
                            <td>{{outflow.created_at}}</td>
                            <td>
                                <a href="{% url 'outflow_detail' outflow.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'components/_pagination.html' %}
{% endblock %}